.details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.sidebar {
  height: 100%;
  width: 250px;
  background-color: #3fb0ac;
  position: fixed !important;
  z-index: 1;
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
}
.sidebarHeading {
  display: inline-block;
  font-size: 30px;
  color: #173e43;
  padding: 10px;
  margin: 0px;
}
.close {
  position: absolute;
  font-size: 20px;
  right: 10px;
  color: #fae596;
  top: 10px;
}
.close:hover {
  cursor: pointer;
}
.sidebarOpen {
  color: #fae596;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
}
.sidebarOpen:hover {
  cursor: pointer;
}
.history {
  color: #173e43;
  width: 100%;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  height: 92vh;
}
.history::-webkit-scrollbar {
  width: 0 !important;
}
.history:hover {
  cursor: pointer;
}
.history p {
  font-weight: bold;
  padding: 0px;
}
@media (max-width: 777px) {
  .sidebar {
    width: 200px;
  }
}
